body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #D9D9D9;
    color: #432F2F;
    overflow: auto;
}
.main {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_body {
    width: 700px;
    height: 500px;
}
.display_profile {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: -30px;
}
.profile {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 0;
    align-items: center;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.information {
    width: 900px;
    height: 500px;
    border: 1px solid #432F2F;
    border-radius: 50px;
    background-color: #432F2F;
    text-align: center;
    color: #D9D9D9;
}
.info_body {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    font-size: 12px;
}
.user_question {
    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.user_information {
    width: 400px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.information a {
    text-decoration: none;
    background-color: #D9D9D9;
    padding: 7px 23px;
    border-radius: 50px;
    color: #432F2F;
    font-size: 13px;
}
.information a:hover {
    background-color: #7a6e6e;
    transition: 0.5s ease;
    color: #D9D9D9;
    font-weight: bold;
}
.information .btn {
    margin-top: 20px;
}
.user_information input {
    background-color: #432F2F;
    border: none;
    border-bottom: 1px solid #fff;
    width: 300px;
}
.user_information input:focus {
    outline: none;
}
.user_information input::placeholder {
    color: #D9D9D9;
    text-indent: 30px;
}
.user_information {
    margin-right: 60px;
}
.user_information input[type="text"], input[type="password"], input[type="tel"] {
    color: #D9D9D9;
    text-indent: 30px;
}
.profile input[type="file"] {
    display: none;
}
.profile  label {
    margin-top: 20px;
    font-size: 14px;
    border-bottom: 1px solid white;
    padding: 10px;
    cursor: pointer;
}
.profile label:hover {
    color: white;
    transition: 0.4s ease;
}