body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #D9D9D9;
    color: #432F2F;
    overflow: auto;
}
/*---------------------- header css ---------*/
.header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.line {
    display: flex;
    justify-content: center;
}
.header_line {
    width: 800px;
    border: 0.5px solid #432F2F;
}


.header .search {
    height: 40px;
    width: 220px;
    border: 1px solid #432F2F;
    background: none;
    border-radius: 50px;
}
.header input:focus {
    outline:  none;
}
.header input[type="text"] {
    text-indent: 20px;
}
.header input::placeholder {
    text-indent: 20px;
}

.header .icons{
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.icons i {
    font-size: 22px;
    color: #432F2F;
}
.header #sellbutton {
    text-decoration: none;
    background-color: #432F2F;
    color: #D9D9D9;
    padding: 10px 30px;
    border: 1px solid #432F2F;
    border-radius: 50px;
}
.header #sellbutton:hover {
    background-color: #464141;
    transition: 0.6s ease;
}

/*---------------------- end header css ---------*/

.bigtitle{
    display: flex;
    justify-content: center;
}
.bigtitle h1{
    border-left: 3px solid #432F2F;
    padding: 10px;
    font-size: 27px;
}
.mainbody {
    display: flex;
    justify-content: space-around;
}
.post_product_page {
    height: 430px;
    width: 450px;
    background-color: #432F2F;
    border-radius: 10px;
    color: #D9D9D9;
}
.image {
    height: 430px;
    width: 450px;
    background-image: url("../../static/image/sell.png");
    background-position: center;
    background-size: cover;
}
.post-req {
    display: flex;
    justify-content: space-evenly;
    height: 430px;
    align-items: flex-start;
    margin-left: -50px;
}
.post-req .questions, .inputs{
    width: 200px;
    height: 370px;
}

.post-req .questions, .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    align-items: center;
}
.post-req .questions {
    align-items: flex-end;
}
.questions #product_image{
    margin-top: 40px;
}
.questions #product_title {
    margin-top: 25px;
}
.questions #price {
    margin-bottom: 20px;
}
.questions #status {
    margin-bottom: 40px;
}
.inputs #product_title_input {
    height: 30px;
    margin-top: 8px;
}
.inputs #description {
    height: 70px;
}
.inputs #price{
    margin-top: 5px;
    height: 25px;
}
.inputs input {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}
.inputs input::placeholder {
    text-indent: 10px;
}
.inputs input[type="text"], input[type="number"] {
    text-indent: 10px;
}
.inputs input:focus {
    outline: none;
}
label {
    background-color: #D9D9D9;
    padding: 8px 30px;
    color: #432F2F;
    font-weight: bolder;
    font-size: 10px;
    border-radius: 50px;
}
label i {
    font-size: 15px;
}
label:hover {
    background-color: #a8a6a6;
    transition: 0.5s ease;
    cursor: pointer;
    color: #ffffff;
}
.inputs input[type="file"] {
    display: none;
}
.inputs input[type="file"] + #upload_image {
    background-color: #D9D9D9;
}
.button button {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
}
.button button:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
    transition: 0.6s ease;
}
.button {
    margin-left: -30px;
}
.status{
    display: flex;
    margin-bottom: 7px;
}
.status p {
    margin-left: 10px;
}
.profile input[type="file"] {
    display: none;
}