<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6fb0a3828a.js" crossorigin="anonymous"></script>
</head>
<body>  
    <a href="{% url 'profile' %}">Go back</a>
    <div class="main">
        <div class="main_body">
            <div class="information">
                <div class="display_profile">
                    <div class="profile">
                        {% if user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" alt="">
                        {% else %}
                            <img src="{% static 'image/profile.jpg'%}" alt="">
                        {% endif %}
                        <form action="" method="post" enctype="multipart/form-data">
                            <!-- <input type="file" name="image" id="editpro"> -->
                        </form>
                        <!-- <label for="editpro">Edit Picture</label> -->
                    </div>
                </div>
                <div class="info_body">
                    <div class="user_question">
                        <p>Full Name</p>
                        <p>Username</p>
                        <p>Bio</p>
                        <p>Phone Number</p>
                        <p>Password</p>
                        <p>Re-enter Password</p>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="user_information">
                            <input type="file" name="image" id="editpro">
                            <label for="editpro">Edit Picture</label>
                            <input type="text" value="{{ user.full_name }}" name="full_name" id="">
                            <input type="text" value="{{user.username}}" name="username" id="">
                            <input type="text" value="{{user.description}}" name="description" id="">
                            <input type="text" value="{{user.phone_number}}" name="phone_number" id="">
                            <input type="password" value="{{user.password}}" name="password" id="">
                            <input type="password" value="{{user.password}}" name="re_password" id="">
                        </div>
                    </div>
                    <div class="btn"><button>Save</button></div>
                    </form>
                
            </div>
        </div>
    </div>

</body>
</html>