<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
</head>
<body>  
    <!-----------------header -------------------->
    <div class="title">
            <h1>AIO</h1>
    </div>

    <!------- text and button ----------->
    <div class="mainbody">

        <div class="row1">
            <div class="row1_box">
                <div class="body_items">
                    <div class="text"><h1><small>O</small>nline Market</h1></div>
                    <div class="paragraph">
                        <p>You can sell everything you want | you can buy anything you want</p>
                    </div>
                    <div class="button"><a href="">Shop now</a></div>
                </div>
            </div>
        </div>
    
        <div class="image">
            <div class="image_box">
    
            </div>
        </div>

    </div>

</body>
</html>