<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="mainbody">
        <div class="row1">
            <div class="image">
                <img src="{% static 'image/signupp.png' %}" alt="">
            </div>
        </div>

        <div class="middle_line"></div>

        <div class="row2">
            <div class="row2_items">
                <div class="items">
                    <h1>SIGN UP</h1>
                    <form action="" method="post">
                        <input type="text" name="" placeholder="Full Name" id=""><br>
                        <input type="text" name="" placeholder="Username" id=""><br>
                        <input type="tel" name="" placeholder="Phone Number" id=""><br>
                        <input type="password" name="" placeholder="Password" id=""><br>
                        <input type="password" name="" placeholder="Re-enter Password" id=""><br>
                        <p>Have an account ? <a href="">Log in</a></p>
                        <button>Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
</body>
</html>